.header{
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  z-index: 9;
  box-shadow: 0px 2px 2px #dadada;
  background-color: #f1f1f1;
  padding: 0px 5%;
  justify-content: space-around;
  min-width: 1100px;


}
.header .logo{
  width: 50px;
}
.header .logo img{
  width: 100%;
}
.header .location{
  border: 2px #002f34 solid;
  background: white;
  border-radius: 5px;
}
.header .location .ico{
  padding: 5px;
}
.header .location .label{
  font-size: 18px;
  padding: 5px;
  border: 0px;
  flex: 1;
}
.header .location .arro{
  background: #fff;
  border: 0px;
  flex: 1;
  padding-top: 6px;
}

.header .search{
    border: 2px #002f34 solid;
    background: white;
    border-radius: 5px;
    width: 500px;
}
.header .search .query{
    font-size: 18px;
    padding: 5px;
    border: 0px;
    flex: 1;
    border-radius: 5px;
}
.header .search .go{
    padding: 5px 10px;
    padding-top: 6px;
    background-color: #002f34;
}
.header .location .goHover{}

.header .actions {
  flex: 1;
  max-width: 200px;
  align-items: flex-end;
  justify-content: flex-end;
}

.header .actions a {
  color: #002f34;
  margin: 0px 20px 15px 0px;
}

.header .actions .sell{
    padding: 5px 18px;
    padding-top: 6px;
    background-color: white;
    max-width: 110px;
    align-items: center;
    justify-content: center;
    /* color: white; */
    border-radius: 30px;
    border: 3px solid #4a4af382;
    box-shadow: 0px 3px 5px #ccc;
}

.header .actions .sell .ico{
  margin-right: 5px;
  padding-top: 5px;
}
